.body{
    padding: 0%; /*resetando configurações */
    margin:0; /*resetando configurações */
    color:black; /*cor do texto*/
    text transform: uppercase;
     text aling: center; /*alinhamento */
}
.grid{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
   grid-template-areas: 
   "nav nav nav nav"
   "sidebar main main main"
   "sidebar content1 content2 content3"
   "sidebar footer footer footer";
   gap: 0.6%;

}
nav{
   background: rgb(154, 27, 27);
   grid-area: nav;
}
main{
   background: rgb(47, 14, 92);
   grid-area: main;
}
#sidebar{
   background: rgb(19, 112, 188);
   grid-area: sidebar;
}
#content1{
    background: rgb(7, 252, 11);
    grid-area: content1;
}
#content2{
    background: rgb(174, 13, 104);
    grid-area: content2;
}
#content3{
    background: rgb(12, 107, 185);
    grid-area: content3;
}
footer{
    background: rgb(24, 165, 54);
    grid-area: footer; 
}
@media only screen and (max-width:550px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.0fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}